<header>
  <nav>
      <br>
      <ul>
          <div class="p-formgrid grid">
              <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/FrontOffice/images/vector.png" alt="Nouveau Logo" width="30" height="40">
              &nbsp;&nbsp;{{principal.firsName}} {{principal.lastName}}</h6>
          </div>
      </ul>
  </nav>
</header>
<section class="video-section section-padding">


  <p-menubar [model]="items"></p-menubar>
 

</section>

<!--<footer>
  <p><a href="https://www.facebook.com/profile.php?id=61553592823245"> &copy; 2024 DanceScape Explorer </a></p>
</footer>!-->
