<mat-tab-group>
    <mat-tab label="Ticket KPIs">
        <div class="dashboard-container"><app-ticket-kpi-copetition-stat></app-ticket-kpi-copetition-stat></div>
      <div class="dashboard-container">
  
        <div class="card">
            <app-statistique-dance-style-per-years></app-statistique-dance-style-per-years>
        </div>
        <div class="card chart-card">
            <app-statistique-dance-style-per-month></app-statistique-dance-style-per-month>
          
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Dance Style per Year">
      <!-- Other content -->
    </mat-tab>
    <mat-tab label="Ticket KPIs">
      <!-- Other content -->
    </mat-tab>
  </mat-tab-group>
  