<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-header d-flex align-items-center justify-content-between" style="background-color: #8B0026; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h5 class="mb-0" style="color: #FFFFFF;">Add Competition</h5>
        <small class="text-muted float-end" style="color: #FFFFFF;"></small>
      </div>

      <form [formGroup]="competitionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="compname" style="color: #8B0026;">Competition Name</label>
          <input type="text" class="form-control" formControlName="compname" id="compname">
        </div>

        <div class="form-group">
          <label for="startdate" style="color: #8B0026;">Start Date</label>
          <input type="date" class="form-control" formControlName="startdate" id="startdate">
        </div>

        <div class="form-group">
          <label for="enddate" style="color: #8B0026;">End Date</label>
          <input type="date" class="form-control" formControlName="enddate" id="enddate">
        </div>

        <div class="form-group">
          <label for="nbdancers" style="color: #8B0026;">Number of Dancers</label>
          <input type="number" class="form-control" formControlName="nbdancers" id="nbdancers">
        </div>

        <div class="form-group">
          <label for="cdescreption" style="color: #8B0026;">Description</label>
          <textarea class="form-control" formControlName="cdescreption" id="cdescreption"></textarea>
        </div>

        <div class="form-group">
          <label for="regisdeadline" style="color: #8B0026;">Registration Deadline</label>
          <input type="date" class="form-control" formControlName="regisdeadline" id="regisdeadline">
        </div>

        <div class="form-group">
          <label for="feesperparticipant" style="color: #8B0026;">Fees per Participant</label>
          <input type="number" class="form-control" formControlName="feesperparticipant" id="feesperparticipant">
        </div>

        <div class="form-group">
          <label for="ageg" style="color: #8B0026;">Age Group</label>
          <select class="form-control" id="ageg" formControlName="ageg">
            <option value="Children">Children</option>
            <option value="Adults">Adults</option>
            <option value="Teenager">Teenager</option>
          </select>
        </div>


<!-- Champ d'image mis à jour -->
<div class="form-group">
  <label for="compimage" style="color: #8B0026;">Competition Image</label>
  <div class="custum-file-upload">
    <label class="icon" for="compimage">
      <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
        <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
        <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
        <g id="SVGRepo_iconCarrier">
          <path fill="" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z" clip-rule="evenodd" fill-rule="evenodd"></path>
        </g>
      </svg>
    </label>
    <div class="text">
      <span>Click to upload image</span>
    </div>
    <input type="file" (change)="onFileSelected($event)" class="form-control" id="compimage" style="display: none;">
  </div>
</div>
<!-- Fin du champ d'image mis à jour -->

        <div class="form-group">
          <label for="dancecateg" style="color: #8B0026;">Dance Category</label>
          <select class="form-control" id="dancecateg" formControlName="dancecateg" (change)="onCategorySelected($event)">
            <option *ngFor="let category of danceCategories$ | async" [value]="category.idcategd">{{ category.categdname }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="style" style="color: #8B0026;">Dance Style</label>
          <select formControlName="style" (change)="onStyleSelected($event)">
            <option *ngFor="let style of danceStyles$ | async" [value]="style.idstyled">{{ style.styledname }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="venue" style="color: #8B0026;">Venue:</label>
          <select class="form-control" id="venue" formControlName="venue" (change)="onVenueSelected($event)">
            <option *ngFor="let venue of venues$ | async" [value]="venue.idvenue">{{ venue.vname }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #660019;">Submit</button>
      </form>
    </div>
  </div>
</div>
