<section class="h-100 gradient-form" style="background-color: #eee;">
  <p-toast></p-toast>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <h3 class="mb-2" style="text-align: center;display: block;font-size: 30px">Reset your password</h3>
                <form [formGroup]="form">
                  <div class="form-outline mb-4">
                    <p class="form-label">Verification Code</p>
                    <input type="text" #verificationCode class="form-control" placeholder="Verification code" formControlName="verificationCode"/>
                  </div>
                  <div class="form-outline mb-4">
                    <p class="form-label">New Password</p>
                    <input type="password"  class="form-control" placeholder="New password" formControlName="newPassword"/>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <p-button label="Reset" [disabled]="!form.valid"  (onClick)="resetPassword()"></p-button>
                  </div>
                </form>
                <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2 mr-2">Back to login page</p>
                  <button type="button" class="btn btn-outline-danger" routerLink="">Login page</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">DanceScape Explorer</h4>
                <p class="small mb-0">Dance Your Heart Out, Claim The Spotlight</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
