<!-- list-registrations.component.html -->
<div class="container">
  <div class="chart-card">
    <h3 class="card-title">Dance Style Chart</h3>
    <div class="chart-container">
      <canvas id="danceStyleChart"></canvas>
    </div>
    <div class="separator"></div>
    <div class="card-content">
      <p>Here you can see the distribution of dance styles among participants.</p>
    </div>
  </div>

  <div class="chart-card">
    <h3 class="card-title">Participants Chart</h3>
    <div class="chart-container">
      <canvas id="participantsChart"></canvas>
    </div>
    <div class="separator"></div>
    <div class="card-content">
      <p>This chart displays the number of participants over time.</p>
    </div>
  </div>
</div>
