<div class="col-12">

  <div class="card px-6 py-6">
  
    <button pButton label="Add Ticket" icon="pi pi-plus" class=" mr-2 add-btn" (click)="addNewTicket()"></button>
    <p-table [value]="tickets" [paginator]="true" [rows]="5" dataKey="idTicket">
      <ng-template pTemplate="header">
        <tr>
          <th>Reference</th>
          <th>Type of Ticket</th>
         
          <th> Expiration Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket let-i="rowIndex">
        <tr *ngIf="editingIndex !== i; else editMode">
          <td>{{ ticket.refTicket }}</td>
          <td>{{ ticket.typeTicket }}</td>
          <td>{{ ticket.expireDate | date }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class=" p-button-success mr-2 edit-btn" (click)="editTicket(i)"></button>
            <button pButton icon="pi pi-trash" class=" p-button-warning delete-btn" (click)="deleteTicket(ticket.idTicket)"></button>
          </td>
        </tr>
        <ng-template #editMode>
          <tr>
            <td><input type="text" [(ngModel)]="ticket.refTicket" name="refTicket-{{i}}" class="form-input"></td>
            <td>
              <select [(ngModel)]="ticket.typeTicket" name="typeTicket-{{i}}" class="form-select">
                <option *ngFor="let type of TypeTicketEnum" [value]="type">{{type}}</option>
              </select>
            </td>
          
            <td><input type="date" [(ngModel)]="ticket.expireDate" name="expireDate-{{i}}" class="form-input"></td>
            <td>

            <button pButton icon="pi pi-check" class="mr-2 submit-btn" (click)="onSubmit(ticket, i)"></button>
            <button pButton icon="pi pi-times" class=" cancel-btn" (click)="cancelEdit()"></button>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>