<!-- vote.component.html -->
<div class="container">
  <h2 class="no-competitions" style="color: #A8043C;">All My Votes</h2>
  <p-table [value]="votes" responsiveLayout="scroll" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th class="card-title" style="color: #001F3F;">Score</th>
        <th class="card-text" style="color: #8B0026;">Comment</th>
        <th>Delete Vote</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vote>
      <tr>
        <td class="card-title" style="color: #001F3F;">{{ vote.score }}</td>
        <td class="card-text" style="color: #8B0026;">{{ vote.com }}</td>
        <td>
          <button pButton type="button" icon="pi pi-trash" class="btn btn-danger" (click)="deleteVote(vote.idVote)" style="background-color: #4D0013;">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
