<!-- song-detection.component.html -->
<!--<div class="container">
  <button class="detect-button" (click)="startRecording()">Detect song</button>
</div>-->

<!-- song-detection.component.html -->
<div class="container search-container">
  <input class="search-input" type="text" [(ngModel)]="term" placeholder="Enter search term">
  <button class="search-button" (click)="autoComplete()">Search</button>
</div>

<div *ngIf="suggestions && suggestions.length > 0" class="container suggestions">
  <h3>Music titles:</h3>
  <div class="cards">
    <div *ngFor="let suggestion of suggestions" class="card red">
      <p class="tip">{{ suggestion.term }}</p>
    </div>
  </div>
</div>

<div *ngIf="!suggestions || suggestions.length === 0" class="container no-suggestions">
  <p>No suggestions found.</p>
</div>

