<div *ngIf="competitions.length > 0; else noCompetitions">
  <h2>List of Competitions</h2>
  <div class="card-container">
    <div class="row">
      <div class="col-md-4" *ngFor="let competition of competitions">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ competition.compname }}</h5>
            <p class="card-text">
              <strong>Start Date:</strong> {{ competition.startdate | date }} <br>
              <strong>End Date:</strong> {{ competition.enddate | date }} <br>
              <strong>Category:</strong> {{ competition.dancecateg?.categdname }} <br>
              <strong>Style:</strong> {{ competition.style }}
            </p>
            <button *ngIf="competition.idcomp !== undefined" (click)="registerForCompetition(competition.idcomp)" class="btn btn-success">Register</button>
            
         
            <button pButton (click)="viewVenuePlan(competition.idcomp!)" style="color: #0D47A1;" class="p-button-rounded p-button-text">
              <fa-icon [icon]="faTicketAlt" size="2x"></fa-icon>
            </button>


            <button (click)="viewCompetitionDetails(competition.idcomp)" class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noCompetitions>
  <p>No competitions available.</p>
</ng-template>
