/* product-list.component.css */

/* Style for product cards */
.card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Style for buttons */
  .btn {
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #A8043C ;
    color: #fff;
  }
  .notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the notification is above other elements */
  }
  
  .notification {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff; /* Text color */
  }
  
  .notification.success {
    background-color: #28a745; /* Green background for success */
  }
  
  .notification.error {
    background-color: #dc3545; /* Red background for error */
  }
  
  .notification.warning {
    background-color: #ffc107; /* Yellow background for warning */
  }
  .center-img {
    display: block;
    margin: 0 auto;
  }
  