/* styles.css */

/* Container Styles */
.container {
  margin-top: 20px;
}

/* Card Styles */
.card {
  background-color: #f5f5f5;
  color: #333; /* Couleur du texte */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.card-title {
  color: #A8043C; /* Couleur du titre */
}

.card-subtitle {
  color: #8B0026; /* Couleur du sous-titre */
}

/* Table Styles */
.table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; /* Couleur de fond des lignes impaires */
}

/* Header Styles */
.table thead {
  background-color: #A8043C; /* Couleur de fond de l'en-tête */
  color: #fff; /* Couleur du texte de l'en-tête */
}

/* Status Styles */
.status-approved {
  background-color:  #001F3F;

  color:#fff
}

.status-pending {
  background-color:  #db618a;
}

.status-rejected {
  background-color:  #A8043C;
  color:#fff
}

/* Link Styles */
a.view-details-link {
  color: #A8043C; /* Couleur du lien */
  text-decoration: none; /* Pas de soulignement */
}

a.view-details-link:hover {
  text-decoration: underline; /* Soulignement au survol */
}

/* Button Styles */
button.delete-button {
  padding: 0.5rem 1rem;
  background-color: #A8043C; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: #8B0026; /* Couleur de fond du bouton au survol */
}
/* Header Styles */
.table thead {
  background-color: #A8043C; /* Couleur de fond de l'en-tête */
  color: #fff; /* Couleur du texte de l'en-tête */
}

.table th {
  color: #fff; /* Couleur du texte des en-têtes de colonne */
}
/* Pending Registrations Styles */


/* Pending Registrations Styles */
.pending-registrations {
  background-color: #B98194; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px;
  border-radius: 8px; /* Augmentation du rayon de la bordure */
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre douce */
  animation: blink 1s infinite alternate; /* Animation de clignotement */
  width: fit-content; /* Largeur ajustée au contenu */
}

@keyframes blink {
  0% {
    background-color: #db618a; /* Couleur de fond de départ */
  }
  100% {
    background-color: #A8043C; /* Couleur de fond de fin */
  }
}

/* Style du texte */
.pending-registrations h4 {
  color: #fff; /* Couleur du texte */
}
