section {
  background-color: #E8C4D0; /* Rose */
  padding: 0;
  height: 150vh; /* 150% de la hauteur de l'écran */
  height: 100%;
  width: 100%;
  font-family: Palatino Linotype, sans-serif; /* Police par défaut */
}
