/* Styles pour le conteneur de dialogue de vote */
.vote-dialog-container {
  max-width: 300px; /* Définir la largeur selon vos besoins */
  margin: 100px;
  padding: 20px;
  border-radius: 10px;
  background: #eeccd5; /* Ou toute couleur/thème qui correspond à votre application */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Styles pour le titre du dialogue de vote */
.vote-dialog-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #A8043C; /* Rouge */
}

/* Styles pour le contenu du dialogue de vote */
.vote-dialog-content {
  margin: 10px 0;
  color: #8B0026; /* Rouge foncé */
}

/* Styles pour les actions du dialogue de vote */
.vote-dialog-actions {
  text-align: right;
}

/* Ajuster la taille et le style des entrées */
.vote-dialog-input {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #A8043C; /* Bordure colorée */
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

/* Style pour le bouton de soumission */
.vote-dialog-submit-btn {
  background-color: #001F3F; /* Vert */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.vote-dialog-submit-btn:hover {
  background-color: #001F3F;
}

/* Style pour le bouton d'annulation ou de fermeture */
.vote-dialog-close-btn {
  background-color: #A8043C; /* Rouge */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
}

.vote-dialog-close-btn:hover {
  background-color: #A8043C;
}
